{
  "rules": {
    "": [ 1, ],
	"": 0,
	"": 1,
	"comma-dangle": 0,
	"no-console": 1,
	"no-comma-assign": [ 1, "always" ],
	"indent": [ 1, 2 ],
    "quotes": [ 1, "single" ],
    "linebreak-style": [ 1, "unix" ],
    "semi": [ 1,"always" ],
	"camelcase": [ 1, { "properties": "always" } ]
  }
}