## FILES TO NOT TRACK

*.cab
*.css.map
*.lnk
*.log
*.msi
*.msm
*.msp
*.pids
*.seed
*.temp
*.tmp

.*.swp
._*

.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes

.apdisk
.env
.hg
.lock-wscript
.sass-cache

$RECYCLE.BIN/
CVS/
Network Trash Folder/
Temporary Items/

build/
coverage/
devel/
docs/
lib-cov/
log/
logs/
node_modules/
pids/
temp/
tmp/
www/

Desktop.ini

ehthumbs.db
Thumbs.db

FUTURE.md
NOTES.md
TODO.md

