# BODY TEMPLATE
#
# This is the template for each method's details.
##############################################################################
<br>

<h2><a name="!{{ id }}!"></a>!{{ method }}!</h2>
!{{ intro }}!

<a name="!{{ id }}!-example" href="https://github.com/imaginate/vitals/blob/master/test/methods/!{{ super }}!/!{{ method }}!.js">Examples</a>

<h3><a name="!{{ id }}!-params"></a>Params</h3>
?{{ params
  <table width="100%">
    <tbody>!{{ params }}!</tbody>
  </table>
}}?

<h3><a name="!{{ id }}!-returns"></a>Returns</h3>
?{{ returns
  <table width="100%">
    <tbody>!{{ returns }}!</tbody>
  </table>
}}?

