# HEADER SUB-TEMPLATE: ROW TEMPLATE
################################################################################
<tr>
  <td align="left" valign="middle" nowrap><a href="@{{ !{{ main }}!#!{{ id }}! }}@">!{{ method }}!</a></td>
  <td align="left" valign="middle" nowrap><a href="@{{ !{{ section }}! }}@">!{{ section }}!</a></td>
  <td align="left" valign="middle" nowrap>!{{ alias }}!</td>
</tr>
