# HEADER TEMPLATE
#
# This is the template for each method's header.
##############################################################################
<h1><a name="top"></a>vitals.!{{ super }}! <a href="https://www.npmjs.com/package/node-vitals"><img src="https://img.shields.io/badge/npm-5.0.0-brightgreen.svg?style=flat" alt="npm version"/></a></h1>

<table width="100%">
  <thead>
    <tr>
      <th align="left" valign="middle" nowrap>Method</th>
      <th align="left" valign="middle" nowrap>Section</th>
      <th align="left" valign="middle" nowrap>Alias</th>
    </tr>
  </thead>
  <tbody>
    !{{ rows }}!
  </tbody>
</table>

