# BODY SUB-TEMPLATE: RETURNS TEMPLATE
#
# This is the template for the returned value of each method.
##############################################################################
<tr><td height="50" align="left" valign="middle" nowrap><em><code>  !{{ type }}!  </code></em></td></tr>
?{{ description
  <tr><td align="left" valign="middle"><br>!{{ description }}!<br></td></tr>
}}?
